<!-- @task: sent from TaskController -->
<.header>
  Task <%= @task.id %>
  <!-- add edit button -->
  <:actions>
    <.link href={~p"/tasks/#{@task}/edit"}>
      <.button>Edit task</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Title"><%= @task.title %></:item>
  <:item title="Date"><%= @task.date %></:item>
</.list>

<.back navigate={~p"/tasks"}>Back to tasks</.back>
